body {
    font-family: 'Tangerine', serif;
    font-size: 20px;
  }

h1 {
    color:red;
}
p {
    color:blue;
    background-color: yellow;
}
.image{
    background-image: url("https://i.imgur.com/8dtSDO6.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}