body {
    background-color: white;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;
  }
a {
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

}
h1 {
    color:red;
}

p {
    color:blue;
    background-color: yellow;
}
.image{
    background-image: url("https://i.imgur.com/hsXLIxr.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}
.des{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: 0.75;
  }
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  