body {
    text-align: justify;
    background-color: white;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-family: 'Noto Sans TC', sans-serif;

  }
  .oscar a {
  text-decoration:none;
}
.oscar a:hover{
  text-decoration:underline;
  color: #6a5acd;
  background-color:#C9C3ED;
}

}
h1 {
    color:red;
}

p {
    color:blue;
    background-color: yellow;
}

.indent p{
  padding-left: 1.5em;
}

}

.four ul {
  color: #c0c0c0;
  height:40px;
  text-align: center;
  margin:0;
  padding:0;
}
.four li{
  height: 30px;
  color:	#E1E100;
  
}
.image{
    background-image: url("https://i.imgur.com/hsXLIxr.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}
.des{
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
    top: 80%;
    width: 60%;
    background-color: white;
    color: black;
    opacity: 0.75;
  }
  .writer-img {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 50px;
  }
  